name: Verify new Rust versions

on:
  schedule:
    # new Rust versions are released on Thursdays -> run every Friday at 12pm
    - cron: "0 12 * * FRI"
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: --deny warnings

jobs:
  test:
    name: Test (on beta)
    runs-on: ubuntu-latest

    steps:
      - name: Install beta toolchain
        uses: dtolnay/rust-toolchain@beta

      - name: Checkout
        uses: actions/checkout@v6

      - name: Test
        run: cargo test
